In [5]:
import pandas as pd

In [6]:
spray = pd.read_csv('assets/input/spray.csv')
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [7]:
west_nile = pd.read_csv('assets/input/train.csv')
west_nile.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [8]:
test = pd.read_csv('assets/input/test.csv')
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [113]:
weather = pd.read_csv('assets/input/weather.csv')
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [22]:
weather.shape

(2944, 22)

In [21]:
weather[weather=='M'].count()

Station           0
Date              0
Tmax              0
Tmin              0
Tavg             11
Depart         1472
DewPoint          0
WetBulb           4
Heat             11
Cool             11
Sunrise           0
Sunset            0
CodeSum           0
Depth          1472
Water1         2944
SnowFall       1472
PrecipTotal       2
StnPressure       4
SeaLevel          9
ResultSpeed       0
ResultDir         0
AvgSpeed          3
dtype: int64

In [23]:
weather['Water1'].unique()

array(['M'], dtype=object)

The 'Water1' column appears to only have missing values, so we'll drop it.

In [114]:
weather = weather.drop('Water1', axis=1)

#### CodeSum

This somewhat terse feature encodes weather information.  We'll disregard it for now (temperature and precipitation information are available in other features), but if we include it in future iterations, we'll probably count-vectorize the feature.

In [25]:
weather['CodeSum'].describe()

count     2944
unique      98
top
freq      1609
Name: CodeSum, dtype: object

In [26]:
weather['CodeSum'].head()

0
1
2       BR
3    BR HZ
4
Name: CodeSum, dtype: object

In [27]:
weather['CodeSum']

0
1
2               BR
3            BR HZ
4
5               HZ
6               RA
7
8
9
10
11
12              RA
13
14              BR
15              HZ
16           BR HZ
17           BR HZ
18              BR
19           BR HZ
20
21
22
23
24
25
26
27
28           RA BR
29      TSRA RA BR
           ...
2914
2915
2916         RA DZ
2917            RA
2918
2919
2920
2921
2922
2923
2924
2925
2926            BR
2927            BR
2928
2929
2930            BR
2931         BR HZ
2932
2933
2934
2935            RA
2936
2937            RA
2938
2939
2940
2941            RA
2942         RA SN
2943      RA SN BR
Name: CodeSum, Length: 2944, dtype: object

### Missing Values

We'll take a look at all the columns with a substantial number of M's (>1000).

In [37]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,CodeSum,Depth,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,,0,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,-,,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1850,BR,0,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,-,BR HZ,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1851,,0,0.0,0.00,29.39,30.12,11.7,7,11.9

In [30]:
weather[['Depart', 'Depth', 'SnowFall']].describe()

       Depart Depth SnowFall
count    2944  2944     2944
unique     42     2        4
top         M     0        M
freq     1472  1472     1472

In [33]:
weather['Depart'].value_counts(normalize=True)['M']

0.5

In [36]:
weather['Depth'].value_counts()

0    1472
M    1472
Name: Depth, dtype: int64

In [34]:
weather['Depth'].value_counts(normalize=True)['M']

0.5

Since Depth only contains "0" and "M", we'll just drop it.  It doesn't appear to have any useful information.

In [115]:
weather = weather.drop('Depth', axis=1)

In [39]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0.0,0.00,29.39,30.12,11.7,7,11.9

In [35]:
weather['SnowFall'].value_counts(normalize=True)['M']

0.5

In [ ]:
weater[['Depart', 'SnowFall']][weather]

We'll drop Depart.  We suspect that absolute temperatures are more important than relative temperatures.  We can reintroduce Depart at a later time if we're desperate for additional features

In [117]:
weather = weather.drop('Depart', axis=1)

ValueError: labels ['Depart'] not contained in axis

In [41]:
weather[weather=='M'].count()

Station           0
Date              0
Tmax              0
Tmin              0
Tavg             11
DewPoint          0
WetBulb           4
Heat             11
Cool             11
Sunrise           0
Sunset            0
CodeSum           0
SnowFall       1472
PrecipTotal       2
StnPressure       4
SeaLevel          9
ResultSpeed       0
ResultDir         0
AvgSpeed          3
dtype: int64

T's are also a problem:

In [57]:
weather['SnowFall'][weather['SnowFall'].str.strip()=='T']

558       T
724       T
726       T
1072      T
1514      T
1550      T
1844      T
2310      T
2322      T
2556      T
2560      T
2888      T
Name: SnowFall, dtype: object

In [43]:
weather['SnowFall'].value_counts()

M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64

SnowFall appears to be a pretty sparse feature.  We'll drop it.

In [118]:
weather =weather.drop('SnowFall', axis= 1)

In [60]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'DewPoint', 'WetBulb',
       'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

We'll start collecting the features we think are the most important for our model.

In [77]:
weather['Heat'][(weather['Heat'] != 'M')].astype(float).describe()

count    2933.000000
mean        3.407092
std         5.953203
min         0.000000
25%         0.000000
50%         0.000000
75%         5.000000
max        29.000000
Name: Heat, dtype: float64

In [68]:
weather['Heat'].str.replace('M',)

dtype('O')

In [119]:
good_features = ['Station', 
                 'Date', 
                 'Tavg', 
                 'WetBulb', 
                 'PrecipTotal',
                 'AvgSpeed',
                ]

In [120]:
maybe_features = ['Heat',
                  'Cool',
                 ]

In [121]:
weather[good_features].head()

   Station        Date Tavg WetBulb PrecipTotal AvgSpeed
0        1  2007-05-01   67      56        0.00      9.2
1        2  2007-05-01   68      57        0.00      9.6
2        1  2007-05-02   51      47        0.00     13.4
3        2  2007-05-02   52      47        0.00     13.4
4        1  2007-05-03   56      48        0.00     11.9

In [122]:
weather[good_features].dtypes

Station         int64
Date           object
Tavg           object
WetBulb        object
PrecipTotal    object
AvgSpeed       object
dtype: object

We need to strip spaces from our columns and impute values to 'M' and 'T'.  For trace amounts, we assume a value of 0.005, which is below the minimum recorded positive amount.  There were only 2 observations of 'M', we assume they are 0.

In [123]:
stripped_weather = weather[good_features].select_dtypes('object').apply(lambda x: x.str.strip())

In [125]:
stripped_weather['PrecipTotal'].value_counts()

0.00    1577
T        318
0.01     127
0.02      63
0.03      46
0.04      36
0.05      32
0.12      28
0.08      28
0.06      27
0.07      23
0.16      21
0.09      21
0.14      20
0.11      20
0.17      17
0.28      15
0.18      14
0.13      14
0.19      14
0.15      13
0.20      13
0.25      11
0.26      11
0.23      11
0.10      10
0.24      10
0.39       9
0.43       9
0.21       9
        ...
3.64       1
1.90       1
1.25       1
1.82       1
2.17       1
1.49       1
1.88       1
3.17       1
2.03       1
2.06       1
0.91       1
1.48       1
1.57       1
1.19       1
1.46       1
1.18       1
2.09       1
2.90       1
3.66       1
1.58       1
1.38       1
1.24       1
0.98       1
3.15       1
2.68       1
2.60       1
1.04       1
1.11       1
2.24       1
1.14       1
Name: PrecipTotal, Length: 168, dtype: int64

In [133]:
stripped_weather['PrecipTotal'].replace("T",'0.005',inplace=True)

In [135]:
stripped_weather['PrecipTotal'].replace("M", '0.00',inplace=True)

In [137]:
stripped_weather['PrecipTotal'].unique()

array(['0.00', '0.005', '0.13', '0.02', '0.38', '0.60', '0.14', '0.07',
       '0.11', '0.09', '1.01', '0.28', '0.04', '0.08', '0.01', '0.53',
       '0.19', '0.21', '0.32', '0.39', '0.31', '0.42', '0.27', '0.16',
       '0.58', '0.93', '0.05', '0.34', '0.15', '0.35', '0.40', '0.66',
       '0.30', '0.24', '0.43', '1.55', '0.92', '0.89', '0.17', '0.03',
       '1.43', '0.97', '0.26', '1.31', '0.06', '0.46', '0.29', '0.23',
       '0.41', '0.45', '0.83', '1.33', '0.91', '0.48', '0.37', '0.88',
       '2.35', '1.96', '0.20', '0.25', '0.18', '0.67', '0.36', '0.33',
       '1.28', '0.74', '0.76', '0.71', '0.95', '1.46', '0.12', '0.52',
       '0.64', '0.22', '1.24', '0.72', '0.73', '0.65', '1.61', '1.22',
       '0.50', '1.05', '2.43', '0.59', '2.90', '2.68', '1.23', '0.62',
       '6.64', '3.07', '1.44', '1.75', '0.82', '0.80', '0.86', '0.63',
       '0.55', '1.03', '0.70', '1.73', '1.38', '0.44', '1.14', '1.07',
       '3.97', '0.87', '0.78', '1.12', '0.68', '0.10', '0.61', '0.54',
       '1.19', '0.75', '0.84', '1.29', '0.81', '1.15', '1.49', '1.57',
       '1.02', '1.30', '0.51', '0.85', '0.79', '0.77', '2.79', '3.15',
       '3.64', '4.73', '1.60', '0.57', '2.24', '1.90', '1.06', '1.88',
       '0.69', '2.17', '6.86', '0.49', '1.11', '1.21', '0.90', '1.34',
       '0.47', '0.56', '3.66', '1.09', '1.25', '1.35', '2.20', '1.48',
       '0.96', '1.16', '1.04', '2.03', '2.09', '1.26', '2.60', '2.06',
       '3.31', '2.76', '1.82', '0.98', '1.58', '3.17', '1.18'],
      dtype=object)

In [138]:
stripped_weather['PrecipTotal']

0        0.00
1        0.00
2        0.00
3        0.00
4        0.00
5        0.00
6       0.005
7        0.00
8       0.005
9       0.005
10       0.00
11       0.00
12      0.005
13       0.00
14       0.00
15      0.005
16       0.13
17       0.02
18       0.00
19       0.00
20       0.00
21       0.00
22       0.00
23       0.00
24       0.00
25       0.00
26       0.00
27       0.00
28       0.38
29       0.60
        ...
2914    0.005
2915     0.01
2916     0.01
2917     0.02
2918     0.00
2919     0.00
2920     0.01
2921     0.00
2922     0.00
2923     0.00
2924     0.00
2925     0.00
2926     0.00
2927    0.005
2928     0.00
2929     0.00
2930     0.00
2931     0.00
2932     0.00
2933     0.00
2934     0.00
2935     0.02
2936    0.005
2937     0.03
2938     0.00
2939     0.00
2940     0.00
2941    0.005
2942     0.03
2943     0.04
Name: PrecipTotal, Length: 2944, dtype: object

In [139]:
weather['PrecipTotal'] = stripped_weather['PrecipTotal']

In [151]:
weather[good_features][weather[good_features] == 'M'].count()

Station         0
Date            0
Tavg           11
WetBulb         4
PrecipTotal     0
AvgSpeed        3
dtype: int64

We still have Ms in Tavg, WetBulb, and AvgSpeed.

We'll impute the Ms in Tavg to the average of Tmin and Tmax.

In [158]:
avgs = weather[['Tmax', 'Tmin']][weather['Tavg']=='M'].mean(axis=1)

In [159]:
weather.loc[avgs.index,'Tavg'] = avgs

In [162]:
mask = (weather['WetBulb'] == 'M') | (weather['AvgSpeed']=='M')

In [163]:
weather.index[mask]

Int64Index([87, 848, 1745, 2067, 2410, 2412, 2415], dtype='int64')

In [167]:
weather.drop(weather.index[mask], inplace=True)

In [177]:
weather[['Station','Tavg', 'WetBulb', 'PrecipTotal', 'AvgSpeed']] = weather[['Station','Tavg', 'WetBulb', 'PrecipTotal', 'AvgSpeed']].astype(float)

In [178]:
weather.dtypes

Station        float64
Date            object
Tmax             int64
Tmin             int64
Tavg           float64
DewPoint         int64
WetBulb        float64
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
PrecipTotal    float64
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed       float64
dtype: object

Todo: feature engineering on weather's good_features